/* Old shit */

html {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    padding: 140px 0 0 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
    background: black url("../img/undervann.jpg") fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    color: white;
    text-decoration: none;
}

.slideshow-container {
    width: 100%;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slideshow-container img {
    width: 100%;
}


/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(-0,-50%);
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 32px;
    transition: 0.6s ease;
}

.prev:hover, .next:hover, .prev:focus, .next:focus {
    color: white;
    text-decoration: none;
}

.prev {
    padding: 32px 32px 32px 22px;
    border-radius: 0 4px 4px 0;
}

.next {
    padding: 32px 22px 32px 32px;
    right: 0;
    border-radius: 4px 0 0 4px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dots {
    text-align:center;
    padding: 10px 0;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fading {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

figcaption {
    color: white;
    font-size: 0.6em;
    font-style: italic;
}

.flex {
    position: relative;
    display: flex;
}

.flex-start {
    display: flex;
}

.horizontal-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

figure img {
    width: 100%;
}

figure {
    width: 100%;
    margin: 10px 0;
}


/* index */
.fb-link {
    display: inline-block;
    width: 26px;
    margin: 0 10px 0 0;
}

h1, h2, h3 {
    font-size: 26px;
    margin: 0;
}

#top-slide {
    margin-bottom: 60px;
}

#news {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 10px;
    border-radius: 10px;
    width: 50%;
    border: solid #A72717;
}

#news .flex {
    margin-bottom: 10px;
}

.new {
    font-size: 13px;
    margin-bottom: 12px;

}

.new a {
    margin-left: 15px;
}

.new a:hover {
    color: white;
}

#media {
    width: 25%;
}

#media p {
    margin: 0 auto 5px auto;
    font-size: 14px;
    text-align: center;
}

#media img {
    width: 100%;
}

#thanks {
    width: 100%;
    margin-top: 140px;
}

/* New shit */

.navbar {
    position: absolute;
    z-index: 10;
}

.navbar-right {
    margin-top: 21px;
}

.navbar-default {
    background: transparent;
    border: none;
    font-family: "Montserrat", sans-serif;
}

.navbar-collapse {
    font-size: 1.1em;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    transition: color 0.1s;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #A72717;
}

.navbar-brand {
    display: inline-block;
    height: auto;
}

@media (max-width: 767px) {
    .navbar {
        margin-bottom: 60px;
        position: relative;
    }

    .navbar, .navbar-collapse {
        border-bottom: solid 1px white;
        background-color: #151515;
    }

    body {
        padding-top: 0;
    }

    .horizontal-flex {
        flex-direction: column;
    }

    #news {
        width: 95%;
    }

    #media {
        margin: 50px 0;
        width: 50%;
    }

    .dots {
        display: none;
    }

    .next, .prev {
        display: none;
    }

    #thanks {
        margin-top: 0;
    }

}

@media (min-width: 992px) {
    .navbar-right {
        margin-top: 35px;
    }
}

@media (min-width: 768px) {
    .navbar {
        position: absolute;
        margin-top: -100px;
        left: 0;
        right: 0;
    }


}

@media (max-width: 991px) and (min-width: 768px){
    .navbar-brand > img {
        height: 50px;
    }

    .navbar {
        margin-top: -80px;
    }

    body {
        padding-top: 120px;
    }
}

.compressed-nav {
    position: fixed;
    margin-top: -140px;
    left: 0;
    right: 0;
    background-color: #151515;
}

.compressed-nav