body{
    background-image: url("../img/undervann.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    color: #23729b;
    font-size:24px;
}

#meny-bar{
    position: relative;
    left: 100px;
    
    color: #23729b;
    font-size:24px;
}

#meny-bar ul{
    position: relative;
    top: 50px;    
    list-style-type: none;
    font-family: 
}

#logo-top{
    float: left;
}

#main{
    width: 50%;
    position: absolute;
    top: 140px;
    left: 100px
}