body{
    background-image: url("../img/undervann.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    color: #23729b;
    font-size:24px;
    font-family: verdana, arial, sans-serif;
}

#menu-bar{
    position: relative;
    color: white;
    font-size:24px;
    width: 100%;
}



#menu-bar ul{
    position: absolute;
    top: 30px;
    left: 300px;
    list-style-type: none;
    font-family: Montserrat, sans-serif;
}

#menu-bar a{
    text-decoration: none;
    color: white;
}

#menu-bar a:hover{
    color: #A72717;
}

#main{
    position: absolute;
    top: 140px;
}

li{
    display: inline;
    margin: 10px;
}

#wrapper{
    position: relative;
    margin:0px auto;
    width: 950px;
    height: 95%
}