body {
    padding-top: 50px;
  }

.vortex-header {
    height: 400px;
    background:url(../images/cad.jpg) center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.invertedImage {
   -webkit-filter: invert(1);
   filter: invert(1);
   }


.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px;
}
